<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>0066E0E2-646F-48CD-8D35-07119F080AC2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C3B2D0E9-EA77-448C-8ACA-B843054629DC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>020EFFF3-8045-498D-81CF-8C727FBC136E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>520529BC-7868-4D46-9A5E-445A12AF2E46</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0E9A67BB-F5EC-48D4-8DEB-1868B50B4EFA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A46FCA14-20D8-48BD-AC41-672B948C7352</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>13B1A49D-620B-4E91-871C-5DEB2F9C0F0B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>020EFFF3-8045-498D-81CF-8C727FBC136E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>17B3B628-FD6D-4F44-B1A1-19CC85924413</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B9DE31E3-D23D-4094-A6EE-A33936CB4122</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>28F5C2CF-0E0B-4797-B6AD-6689A85DC3C0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C3B2D0E9-EA77-448C-8ACA-B843054629DC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2CCFA8B9-06AB-449B-BE4C-28689E214C9F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>595F405D-D733-4746-9BA0-BE95515E546C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>322A66AF-B28A-4C43-B87A-30DDFBF909C3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B411F8F3-434F-4056-9892-0894E70BFA8B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3326A538-BD0A-4216-9E54-6C78E96B13E1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C878DB20-64FB-4044-B511-BA3998954AF6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3F5595D2-0DB4-4AC6-9BF2-934176CEA480</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1D2A228E-367A-43C0-80D2-F8DDE87DF035</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5160A20E-B6F3-43FF-84A4-D295919D03CC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F9B7EA15-F6EF-4CEE-ADFE-7028AE8AD5EA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>520529BC-7868-4D46-9A5E-445A12AF2E46</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C3B2D0E9-EA77-448C-8ACA-B843054629DC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>53A7BCCF-930F-401D-8B99-DB5A822FA29D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>54060674-5760-486C-8175-CBF8BB8ED7C4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>54060674-5760-486C-8175-CBF8BB8ED7C4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3905E1CB-B224-4EB5-A4DF-1571090C48FD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>55E2D76A-77D7-4BA4-BECE-E354F99A32ED</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E1E1CE32-32DF-4B63-931E-638CF532AC3A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CF701CEB-D563-4F05-BEED-3D7B7A859C2D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>322A66AF-B28A-4C43-B87A-30DDFBF909C3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>13B1A49D-620B-4E91-871C-5DEB2F9C0F0B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>595F405D-D733-4746-9BA0-BE95515E546C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3326A538-BD0A-4216-9E54-6C78E96B13E1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6EFBF267-D5F2-46D0-8219-10C957F52668</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9474FB8F-AE37-467C-BD34-2FD6F784B4F0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9474FB8F-AE37-467C-BD34-2FD6F784B4F0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>53A7BCCF-930F-401D-8B99-DB5A822FA29D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CFF8F5E2-CB25-4128-890F-55C6F29D9701</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A46FCA14-20D8-48BD-AC41-672B948C7352</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E20CAE0E-E23B-4046-85AE-522C3CA4079E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B411F8F3-434F-4056-9892-0894E70BFA8B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0066E0E2-646F-48CD-8D35-07119F080AC2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B9DE31E3-D23D-4094-A6EE-A33936CB4122</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A1533640-DE3D-4FFC-B4E8-5FFA8A4127E8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C3B2D0E9-EA77-448C-8ACA-B843054629DC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E34D12FC-9B3B-4582-BE6A-0F1D5843E010</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C878DB20-64FB-4044-B511-BA3998954AF6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0E9A67BB-F5EC-48D4-8DEB-1868B50B4EFA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CF701CEB-D563-4F05-BEED-3D7B7A859C2D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5160A20E-B6F3-43FF-84A4-D295919D03CC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CFF8F5E2-CB25-4128-890F-55C6F29D9701</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F5874371-8627-47E1-81BE-ADE4813D5DEA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E1E1CE32-32DF-4B63-931E-638CF532AC3A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E56A66BD-91E6-43B2-B127-9AB03AD3A3BA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E20CAE0E-E23B-4046-85AE-522C3CA4079E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>17B3B628-FD6D-4F44-B1A1-19CC85924413</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E56A66BD-91E6-43B2-B127-9AB03AD3A3BA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>28F5C2CF-0E0B-4797-B6AD-6689A85DC3C0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F5874371-8627-47E1-81BE-ADE4813D5DEA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3905E1CB-B224-4EB5-A4DF-1571090C48FD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F9B7EA15-F6EF-4CEE-ADFE-7028AE8AD5EA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C3B2D0E9-EA77-448C-8ACA-B843054629DC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>highfly029</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>FunPlus</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>/usr/local/opt/python/bin/python3 /Users/highfly029/Documents/work/workflow/deploy192.py

echo "192 deploy success"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>54060674-5760-486C-8175-CBF8BB8ED7C4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string></string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>test</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>53A7BCCF-930F-401D-8B99-DB5A822FA29D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string></string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string>{query}</string>
				<key>textcolor</key>
				<string></string>
				<key>wrapat</key>
				<integer>50</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>3905E1CB-B224-4EB5-A4DF-1571090C48FD</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"test","arg":"test","subtitle":"192"},{"title":"battleTest","arg":"battle","subtitle":"237"}]</string>
				<key>matchmode</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>select server</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>9474FB8F-AE37-467C-BD34-2FD6F784B4F0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>deploy192</string>
				<key>subtext</key>
				<string>192</string>
				<key>text</key>
				<string>deploy</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6EFBF267-D5F2-46D0-8219-10C957F52668</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>/usr/local/opt/python/bin/python3 /Users/highfly029/Documents/work/lost/Common/tool/battle_deploy.py

echo "237 deploy success"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F5874371-8627-47E1-81BE-ADE4813D5DEA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string></string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>battle</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>CFF8F5E2-CB25-4128-890F-55C6F29D9701</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>perl -e '$a=&lt;STDIN&gt;;if($a =~ m/{query}:.*?ClientPartData.*?(?=\w+:\s?\w+ClientPartData)/){print("$&amp;\n");};'</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>1D2A228E-367A-43C0-80D2-F8DDE87DF035</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>2</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>3F5595D2-0DB4-4AC6-9BF2-934176CEA480</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>
/usr/bin/python mdfind.py {query} /Users/admin/www/ss/ss-config/online</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>输入文件名</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>28F5C2CF-0E0B-4797-B6AD-6689A85DC3C0</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string></string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>online</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>E1E1CE32-32DF-4B63-931E-638CF532AC3A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>.*</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>E56A66BD-91E6-43B2-B127-9AB03AD3A3BA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>python mdfind.py {query} /Users/highfly029/Documents/work/lost_ptr/Common/plan/excel/gameConfig</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>输入文件名</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F9B7EA15-F6EF-4CEE-ADFE-7028AE8AD5EA</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"online","arg":"online","subtitle":"主干配置"},{"title":"ptr","arg":"ptr","subtitle":"ptr配置"},{"title":"release","arg":"release","subtitle":"线上配置"},{"title":"func","arg":"func","subtitle":"功能分支"}]</string>
				<key>keyword</key>
				<string>cfg</string>
				<key>matchmode</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>search lost config xlsx...</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>55E2D76A-77D7-4BA4-BECE-E354F99A32ED</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>.*</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>5160A20E-B6F3-43FF-84A4-D295919D03CC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string></string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>ptr</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>CF701CEB-D563-4F05-BEED-3D7B7A859C2D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string></string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.actioninalfred</string>
			<key>uid</key>
			<string>E34D12FC-9B3B-4582-BE6A-0F1D5843E010</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>C3B2D0E9-EA77-448C-8ACA-B843054629DC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>
python mdfind.py {query} /Users/highfly029/Documents/work/lost_release/Common/plan/excel/gameConfig</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>输入文件名</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0066E0E2-646F-48CD-8D35-07119F080AC2</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>.*</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>B411F8F3-434F-4056-9892-0894E70BFA8B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string></string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>release</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>322A66AF-B28A-4C43-B87A-30DDFBF909C3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>
python mdfind.py {query} /Users/highfly029/Documents/work/lost_func/Common/plan/excel/gameConfig</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>输入文件名</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>520529BC-7868-4D46-9A5E-445A12AF2E46</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>03ED3A2D-E4FA-48A1-8579-64D583E93170</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string></string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>func</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>13B1A49D-620B-4E91-871C-5DEB2F9C0F0B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>.*</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>020EFFF3-8045-498D-81CF-8C727FBC136E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>on run argv
  set theQuery to "{query}"
  set SSH to "ssh -i ~/.lost/liyunpeng-jumpserver.pem liyunpeng@vf-jumpserver-koko-bj.super-chameleon.com -p 2222"

  tell application "iTerm"
    select first window
    tell the first window
      select first tab      
        tell current session to write text SSH  
        delay 1
        tell current session to write text 1
        delay 1
        tell current session to write text theQuery
        delay 1
        tell current session to write text "sudo bash &amp;&amp; cd /home/lost/log"
    end tell  
  end tell
end run</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3465C4B1-1D36-4A81-897A-A697234B6E3B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>A1533640-DE3D-4FFC-B4E8-5FFA8A4127E8</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"center","arg":"center"},{"title":"login","arg":"login"},{"title":"game","arg":"game"}]</string>
				<key>matchmode</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>select Server Type</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>C878DB20-64FB-4044-B511-BA3998954AF6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo -n ''</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A46FCA14-20D8-48BD-AC41-672B948C7352</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python searchIP.py /Users/highfly029/Documents/work/lost/Server/Depoly/fab/serverinfo.xlsx {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B9DE31E3-D23D-4094-A6EE-A33936CB4122</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo -n ''</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3326A538-BD0A-4216-9E54-6C78E96B13E1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>id</string>
				<key>text</key>
				<string>select id</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E20CAE0E-E23B-4046-85AE-522C3CA4079E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>sshlostip</string>
				<key>subtext</key>
				<string>us, as, sa, eu</string>
				<key>text</key>
				<string>ssh到lost线上服</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2CCFA8B9-06AB-449B-BE4C-28689E214C9F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>serverType</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>0E9A67BB-F5EC-48D4-8DEB-1868B50B4EFA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:zoneName}_{var:serverType}_{query}

</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>17B3B628-FD6D-4F44-B1A1-19CC85924413</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>zoneName</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>595F405D-D733-4746-9BA0-BE95515E546C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0066E0E2-646F-48CD-8D35-07119F080AC2</key>
		<dict>
			<key>xpos</key>
			<real>535</real>
			<key>ypos</key>
			<real>770</real>
		</dict>
		<key>020EFFF3-8045-498D-81CF-8C727FBC136E</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>445</real>
			<key>ypos</key>
			<real>935</real>
		</dict>
		<key>03ED3A2D-E4FA-48A1-8579-64D583E93170</key>
		<dict>
			<key>xpos</key>
			<real>915</real>
			<key>ypos</key>
			<real>910</real>
		</dict>
		<key>0E9A67BB-F5EC-48D4-8DEB-1868B50B4EFA</key>
		<dict>
			<key>xpos</key>
			<real>650</real>
			<key>ypos</key>
			<real>1180</real>
		</dict>
		<key>13B1A49D-620B-4E91-871C-5DEB2F9C0F0B</key>
		<dict>
			<key>xpos</key>
			<real>365</real>
			<key>ypos</key>
			<real>935</real>
		</dict>
		<key>17B3B628-FD6D-4F44-B1A1-19CC85924413</key>
		<dict>
			<key>xpos</key>
			<real>1015</real>
			<key>ypos</key>
			<real>1180</real>
		</dict>
		<key>1D2A228E-367A-43C0-80D2-F8DDE87DF035</key>
		<dict>
			<key>xpos</key>
			<real>320</real>
			<key>ypos</key>
			<real>350</real>
		</dict>
		<key>28F5C2CF-0E0B-4797-B6AD-6689A85DC3C0</key>
		<dict>
			<key>xpos</key>
			<real>545</real>
			<key>ypos</key>
			<real>500</real>
		</dict>
		<key>2CCFA8B9-06AB-449B-BE4C-28689E214C9F</key>
		<dict>
			<key>xpos</key>
			<real>125</real>
			<key>ypos</key>
			<real>1150</real>
		</dict>
		<key>322A66AF-B28A-4C43-B87A-30DDFBF909C3</key>
		<dict>
			<key>xpos</key>
			<real>360</real>
			<key>ypos</key>
			<real>800</real>
		</dict>
		<key>3326A538-BD0A-4216-9E54-6C78E96B13E1</key>
		<dict>
			<key>xpos</key>
			<real>340</real>
			<key>ypos</key>
			<real>1150</real>
		</dict>
		<key>3465C4B1-1D36-4A81-897A-A697234B6E3B</key>
		<dict>
			<key>xpos</key>
			<real>1255</real>
			<key>ypos</key>
			<real>1030</real>
		</dict>
		<key>3905E1CB-B224-4EB5-A4DF-1571090C48FD</key>
		<dict>
			<key>xpos</key>
			<real>990</real>
			<key>ypos</key>
			<real>145</real>
		</dict>
		<key>3F5595D2-0DB4-4AC6-9BF2-934176CEA480</key>
		<dict>
			<key>xpos</key>
			<real>170</real>
			<key>ypos</key>
			<real>350</real>
		</dict>
		<key>5160A20E-B6F3-43FF-84A4-D295919D03CC</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>450</real>
			<key>ypos</key>
			<real>655</real>
		</dict>
		<key>520529BC-7868-4D46-9A5E-445A12AF2E46</key>
		<dict>
			<key>xpos</key>
			<real>540</real>
			<key>ypos</key>
			<real>905</real>
		</dict>
		<key>53A7BCCF-930F-401D-8B99-DB5A822FA29D</key>
		<dict>
			<key>xpos</key>
			<real>530</real>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>54060674-5760-486C-8175-CBF8BB8ED7C4</key>
		<dict>
			<key>xpos</key>
			<real>720</real>
			<key>ypos</key>
			<real>75</real>
		</dict>
		<key>55E2D76A-77D7-4BA4-BECE-E354F99A32ED</key>
		<dict>
			<key>xpos</key>
			<real>145</real>
			<key>ypos</key>
			<real>635</real>
		</dict>
		<key>595F405D-D733-4746-9BA0-BE95515E546C</key>
		<dict>
			<key>xpos</key>
			<real>275</real>
			<key>ypos</key>
			<real>1180</real>
		</dict>
		<key>6EFBF267-D5F2-46D0-8219-10C957F52668</key>
		<dict>
			<key>xpos</key>
			<real>160</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
		<key>9474FB8F-AE37-467C-BD34-2FD6F784B4F0</key>
		<dict>
			<key>xpos</key>
			<real>375</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
		<key>A1533640-DE3D-4FFC-B4E8-5FFA8A4127E8</key>
		<dict>
			<key>xpos</key>
			<real>1250</real>
			<key>ypos</key>
			<real>1150</real>
		</dict>
		<key>A46FCA14-20D8-48BD-AC41-672B948C7352</key>
		<dict>
			<key>xpos</key>
			<real>710</real>
			<key>ypos</key>
			<real>1150</real>
		</dict>
		<key>B411F8F3-434F-4056-9892-0894E70BFA8B</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>440</real>
			<key>ypos</key>
			<real>800</real>
		</dict>
		<key>B9DE31E3-D23D-4094-A6EE-A33936CB4122</key>
		<dict>
			<key>xpos</key>
			<real>1100</real>
			<key>ypos</key>
			<real>1150</real>
		</dict>
		<key>C3B2D0E9-EA77-448C-8ACA-B843054629DC</key>
		<dict>
			<key>xpos</key>
			<real>795</real>
			<key>ypos</key>
			<real>730</real>
		</dict>
		<key>C878DB20-64FB-4044-B511-BA3998954AF6</key>
		<dict>
			<key>xpos</key>
			<real>495</real>
			<key>ypos</key>
			<real>1150</real>
		</dict>
		<key>CF701CEB-D563-4F05-BEED-3D7B7A859C2D</key>
		<dict>
			<key>xpos</key>
			<real>370</real>
			<key>ypos</key>
			<real>655</real>
		</dict>
		<key>CFF8F5E2-CB25-4128-890F-55C6F29D9701</key>
		<dict>
			<key>xpos</key>
			<real>540</real>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>E1E1CE32-32DF-4B63-931E-638CF532AC3A</key>
		<dict>
			<key>xpos</key>
			<real>370</real>
			<key>ypos</key>
			<real>530</real>
		</dict>
		<key>E20CAE0E-E23B-4046-85AE-522C3CA4079E</key>
		<dict>
			<key>xpos</key>
			<real>865</real>
			<key>ypos</key>
			<real>1150</real>
		</dict>
		<key>E34D12FC-9B3B-4582-BE6A-0F1D5843E010</key>
		<dict>
			<key>xpos</key>
			<real>865</real>
			<key>ypos</key>
			<real>705</real>
		</dict>
		<key>E56A66BD-91E6-43B2-B127-9AB03AD3A3BA</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>455</real>
			<key>ypos</key>
			<real>530</real>
		</dict>
		<key>F5874371-8627-47E1-81BE-ADE4813D5DEA</key>
		<dict>
			<key>xpos</key>
			<real>720</real>
			<key>ypos</key>
			<real>215</real>
		</dict>
		<key>F9B7EA15-F6EF-4CEE-ADFE-7028AE8AD5EA</key>
		<dict>
			<key>xpos</key>
			<real>545</real>
			<key>ypos</key>
			<real>625</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
